<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="cc.felix.practise.model"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/ProductMapper.xml"/>
	</mappers>

</configuration>